@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem vindo ao Easy System Hotel</h2>

<br>
 
<p> Esse programa foi desenvolvido para facilitar as pousadas e hotéis pequenas ou interessadas a terem organização,controle e agilidade no processo das reservas.</p>


<div class="row">
    <div class="col-md-3">
       
    </div>
    
   
</div>
